<li>
  <% if message.sender_user_id == current_user.id %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              To: <%= message.receiver.email %>
            <br>
             <%= message.created_at.strftime("%b %d, %Y at %I:%M %p") %>
            <br>
              <div class="panel-body text-right">
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-4 panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              From: <%= message.sender.email %>
            <br>
              <%= message.created_at.strftime("%b %d, %Y at %I:%M %p") %>
            <br>
              <div class="panel-body text-right">
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</li>
