<%= link_to "Home", root_path %>
<%= link_to "New Message", new_message_path %>

<table class="table table-condensed">
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Create Date</th>
    <th>Message Body</th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.sender_user_id %></td>
      <td><%= message.receiver_user_id %></td>
      <td><%= message.created_at.strftime("%b %d %y") %></td>
      <td><%= message.body %></td>
    </tr>
  
  <% end %>
</table>
