
  <h1>Enter Your Message</h1>
  <br />


    
    <%= simple_form_for @message do |f| %>
      <%= f.hidden_field :sender_user_id, value: current_user.id %>
  
      <%= f.association :receiver, collection: User.where("id <> ?",current_user.id), label_method: :email %>
      <br />
      <%= f.input :body, as: :text, label: "Message" %>
      <br />
      <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>


  


